body {
    font-family: 'Calibri';
    font-weight: bold;
}

p {
    font-family: 'Calibri';
}

h1, h2 {
    font-family: 'Courier New';
    color: red;
}
h3 {
    font-family: 'Calibri';
    color: royalblue;

}

a:link {
    color: red;
}

a:visited {
    color: green;
}

input[type="submit"]:default {background-color: green;}
input[type="submit"]:hover {background-color: red;}

ul {
    list-style: square;
}

ol {
    list-style: lower-roman;
}

tr:nth-child(even) {
    background-color: lightgray;
}
tr:hover {
    background-color:lightblue;
}
